[submodule "piflab-orders-service-api"]
	path = piflab-orders-service-api
	url = git@github.com:zealotnt/piflab-store-orders-service-go.git
[submodule "piflab-products-service-api"]
	path = piflab-products-service-api
	url = git@github.com:zealotnt/piflab-store-products-service-go.git
[submodule "piflab-store-api-go"]
	path = piflab-store-api-go
	url = https://github.com/zealotnt/piflab-store-api-go.git
[submodule "piflab-carts-service-api"]
	path = piflab-carts-service-api
	url = git@github.com:zealotnt/piflab-store-carts-service-go.git
